# Introduction to Seaborn
Seaborn:
- is a python visualiztion library based on matplotlib
- provides a high-level interface for drawing attractive and informative statistical graphics

### To import:

In [5]:
import pandas as pd
import numpy as numpy
import matplotlib.pyplot as plt
import seaborn
#%matplotlib inline

### To load dataset into dataframe:
You use the **seaborn.load_dataset()** and store it in a dataframe.
Also, note that: to use this function, you have to be actively connected to a network

In [7]:
df = seaborn.load_dataset("tips")

### To see the first 5 rows of the entire dataset:
You use the **df.head()** function

In [8]:
print(df.head())

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

## To print the last 5 rows of the entire dataset:
You use the **df.tail()** function

In [10]:
print(df.tail())

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2