## Add, Rename, and Delete Columns

In [16]:
import pandas as pd

s = pd.Series([20, 30, 22, 50, 60])
df = pd.DataFrame(s)
print(df)

    0
0  20
1  30
2  22
3  50
4  60

To name the column....

In [18]:
df.columns = ["list1"]
print(df)

   list1
0     20
1     30
2     22
3     50
4     60

To create another column...

In [20]:
df["list2"] = 20, 30, 40, 50, 60
print(df)

   list1  list2
0     20     20
1     30     30
2     22     40
3     50     50
4     60     60

In [21]:
df["list3"] = df["list1"] + df["list2"]
print(df)

   list1  list2  list3
0     20     20     40
1     30     30     60
2     22     40     62
3     50     50    100
4     60     60    120

To delete we use **del** or **pop()**...

In [23]:
del df["list3"]
print(df)

   list1  list2
0     20     20
1     30     30
2     22     40
3     50     50
4     60     60

In [24]:
df.pop("list2")
print(df)

   list1
0     20
1     30
2     22
3     50
4     60