# Concatenating DataFrames
Data frames can be concatenated using the **concat()**

In [3]:
import pandas as pd

dict1 = {'ID' : [0o7, 47, 0o1], 'Name' : ['James Bond', 'Hitman', 'President']}
df1 = pd.DataFrame(dict1)
dict2 = {'ID' : [24, 911], 'Name' : ['Jack Bauer', 'PoPo']}
df2 = pd.DataFrame(dict2)

### To Concatenate...

In [4]:
df3 = pd.concat([df1, df2])
print(df3)

    ID        Name
0    7  James Bond
1   47      Hitman
2    1   President
0   24  Jack Bauer
1  911        PoPo