# Working with Series in Pandas

In [1]:
import pandas as pd
s1 = pd.Series([10, 20, 30, 40])
print(s1)

0    10
1    20
2    30
3    40
dtype: int64

In [2]:
s2 = pd.Series([1.24, 2.43, 1.22, 5.67, 7.89])
print(s2)

0    1.24
1    2.43
2    1.22
3    5.67
4    7.89
dtype: float64

Customizing the index:

In [4]:
s2 = pd.Series([1.24, 2.43, 1.22, 5.67, 7.89], index = ['a', 'b', 'c', 'd', 'e'])
print(s2)

a    1.24
b    2.43
c    1.22
d    5.67
e    7.89
dtype: float64

## Accessing Elements

### Non customized index

In [8]:
print(s2[2])

1.22

C:\Users\MSI\AppData\Local\Temp\ipykernel_568\1300205721.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s2[2])

### Customized index

In [9]:
print(s2['c'])

1.22

### Printing all

In [10]:
print(s1)
print(s2)

0    10
1    20
2    30
3    40
dtype: int64
a    1.24
b    2.43
c    1.22
d    5.67
e    7.89
dtype: float64

### Modifying
lets add 5 to s1 and see what happens

In [11]:
s3 = s1 + 5
print(s3)

0    15
1    25
2    35
3    45
dtype: int64

5 is added to all the elements

### Filtering

Filtering is also possible when using Series in Pandas

So if I want to create an indexed array of elements greater than 2 from s2, I can just filter...

In [13]:
s4 = s2[s2 > 2]
print(s4)

b    2.43
d    5.67
e    7.89
dtype: float64